* {
    font-family: Verdana;
}


body {
    margin: 0;
    background: rgb(226, 226, 226);
}


#nav {
    margin: 0;
    overflow: hidden;
    background-color: rgb(119, 191, 201);
    border-bottom: 3px solid lightslategray;
    border-bottom-left-radius: 15px;
}

ul #nav, ul .no-bullets{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a:hover {
    background-color: rgb(67, 105, 110);
    color: white;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }


li a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    margin-top: 20px;
    padding: 14px 20px;
    text-decoration: none;
  }
  
li h1{
    float: left;
    display: block;
    color: black;
    margin: -30px 0;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}

table {
border-collapse: collapse;
border: 0;
}
